.App {
  text-align: center;
  background-color: aquamarine;
}

label{
  margin-top: 5%;
}

div {
  flex-direction: column;
  align-items: start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appHeader {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0;
  font-size: 80px;
}

.listHeader {
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0;
  font-size: 50px;
}

.formsSection {
  background-color: #fff; 
  border: 1px solid #ddd; 
  margin: 20px auto; /* Center the box with automatic horizontal margins */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); 
  padding: 20px; /* Spacing inside the box */
  width: 80%; /* Set a width, adjust as needed */
  max-width: 600px; /* Maximum width to ensure it doesn't get too large on big screens */
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */

}

/* Styles for the appointment list items to match input fields */
.listAppointment li {
  background-color: #fff; /* Match input field background */
  border: 1px solid #ccc; /* Match input field border */
  padding: 10px; /* Provide some padding inside the list items */
  margin-bottom: 8px; /* Space between list items */
  list-style-type: none; /* Remove default list item bullet points */
  font-size: 16px; /* Match input field font size */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
